* {
    border: none;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 11px;
    min-height: 0;
}

window#waybar {
    background: transparent;
}

/* ================================= */
/* DOTS GENERALES */
/* ================================= */

#clock,
#cpu,
#memory,
#network,
#custom-gpu {

    background: #1e1e2e;

    color: #cdd6f4;

    margin-top: 4px;
    margin-bottom: 4px;

    margin-left: 3px;
    margin-right: 3px;

    padding-left: 12px;
    padding-right: 12px;

    border-radius: 14px;

    border: 1px solid #313244;
}

/* ================================= */
/* ARCH */
/* ================================= */

#custom-arch {

    background: transparent;

    border: none;

    color: #89b4fa;

    margin: 4px 6px 4px 4px;

    min-width: 0;
    min-height: 0;

    font-family: "Symbols Nerd Font";

    font-size: 18px;

    padding: 0;

    padding-top: 1px;
}

/* CENTRAR ICONO */

#custom-arch label {

    padding: 0;

    margin: 0;
}

/* ================================= */
/* WORKSPACES */
/* ================================= */

#workspaces {

    background: #1e1e2e;

    border: 1px solid #313244;

    border-radius: 14px;

    padding: 3px 8px;

    margin: 4px 3px;
}

/* Cada workspace */

#workspaces button {

    min-width: 0;

    min-height: 26px;

    margin: 0 4px;

    padding: 0 12px;

    border-radius: 12px;

    background: #313244;

    color: #cdd6f4;

    transition: all 0.15s ease;
}

/* CENTRAR ICONOS */

#workspaces button label {

    padding: 0;

    margin: 0;
}

/* Workspace activo */

#workspaces button.active {

    background: #89b4fa;

    color: #1e1e2e;
}

/* Workspace vacío */

#workspaces button.empty {

    opacity: 0.4;
}

/* Hover */

#workspaces button:hover {

    background: #585b70;
}

/* ================================= */
/* CLOCK */
/* ================================= */

#clock {

    color: #f9e2af;
}

/* ================================= */
/* CPU */
/* ================================= */

#cpu {

    color: #fab387;
}

/* ================================= */
/* RAM */
/* ================================= */

#memory {

    color: #a6e3a1;
}

/* ================================= */
/* NETWORK */
/* ================================= */

#network {

    color: #89dceb;
}

/* ================================= */
/* GPU */
/* ================================= */

#custom-gpu {

    color: #f38ba8;

    min-width: 70px;
}